body {
    background: goldenrod;
}
h1 {
    text-align: center;
    color: rgb(65,40,0);
}
h3 {
    padding-left: 5%;
    color: rgb(120,80,0);
}
.widetable, .narrowtable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0 0 15px rgba(50,50,50,0.5);
}
.narrowtable {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.widetable {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
th {
    text-align: center;
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px 20px;
    background: #F8E391;
}
li {
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_div {
    padding: 10px 20px;
    background: #F8E391;
}
.multitext {
    height: 75px;
    border-radius: 3px;
}
.input {
    height: 25px;
    border-radius: 3px;
}
.input:hover, .multitext:hover, .input:active, .multitext:active {
    box-shadow: 0 0 8px rgba(220,120,0,0.7);
}

.index_div {
    text-align: center;
    margin: 8%;
    border-width: 2px;
    border-radius: 10px;
}
.main_div {
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.inner_div {
    border: solid;
    padding: 10px;
    border-width: 1px;
    border-color: orange;
    border-radius: 5px;
    background: #f8d88b;
    box-shadow: 0 0 5px rgba(255,160,00,0.7);
}
.button_div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tdc {
    text-align: center;
}
.tdl {
    text-align: left;
}
tr:hover {
    text-shadow: 0 1px 1px #2D2020;
}

.widemenu, .narrowmenu {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 60px;
}
.widemenu {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.narrowmenu {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
.menuitem {
    float: right;
    width: 180px
}
.menubutton:hover {
    border: 2px solid orangered;
    color: orangered;
}
.smallbutton:hover {
    color: orangered;
    box-shadow: 0 0 5px rgba(220,120,0,0.6);
}
.bigbutton:hover {
    color: orangered;
    box-shadow: 0 0 10px rgba(220,120,0,0.6);
}
.giantbutton:hover {
    color: orangered;
    box-shadow: 0 0 20px rgba(50,0,0,0.6);
}
.menubutton {
    height: 20px;
    width: 160px;
    margin: 5px 10px;
    border: 1px solid rgba(65,40,0,0.6);
    background-color: transparent;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
}
.smallbutton {
    height: 28px;
    width: 140px;
    margin: 5px;
    border-radius: 4px;
}
.bigbutton {
    height: 36px;
    width: 240px;
    margin: 10px;
    border-radius: 5px;
}
.giantbutton {
    height: 50px;
    width: 480px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-shadow: 0 1px 1px #2D2020;
    text-align: center;
}
.hidden {
    display: none;
}
.pagination {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}
.pagination a.active {
    background-color: rgba(255,70,0,0.5);
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: rgba(255,70,0,0.2);
}
footer {
    text-align: center;
    font-style: italic;
    font-weight :bold;
}